#container{
    width: 100%;
    height: auto;
    margin: 0 auto;
    text-align: center;
}
#elite{
    width: 50%;
}
#newbutton{
    width: 22%;
    height: 80%;
    background-color: black;
    color: white;
}
#left{
    display: inline-block;
    width: 45%;
}
#right{
    display: inline-block;
    width: 45%;
    text-align: right;
}
#upper{
    color:red;
    text-align: center;
}
#middle{
    color: blue;
    text-align: center;
}
#lower{
    color:purple;
    width: 100%;
}
#heading{
    display: inline-block;
}
#content{
    width: 90%;
    /* background-color:magenta; */
    padding: 5rem;
    height: 3rem;
}
#tobe{
    text-align: left;
    width: 20%;
    padding: 1rem;
    display: inline-block;
}
#tobe2{
    text-align: right;
    width: 20%;
    padding: 1rem;
    /* float: right; */
    display: inline-block;
}
#now{
    padding: 2rem;
    width: 30%;
    text-align: center;
}
#now2{
    display: inline-block;
    padding: 2rem;
    width: 30%;
    text-align: center;
}
.small{
    width: 100%;
}



#goku{
    text-align: left;
    /* float: left; */
}
#hide{
    display: none;
    text-align: right;
    /* float: right; */
}
#freeza{
    text-align: right;
    /* float: right; */
}
#hide2{
    display: none;
}